@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

$primary: #6200ee;

/* Default font */
$family-sans-serif: "Poppins", sans-serif;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/_all";

.wrapper {
  min-height: calc(100vh - 3.4rem);
}

.level-is-shrinkable .level-left,
.level-is-shrinkable .level-right {
  flex-shrink: 1;
}

.is-text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-mx-auto {
  margin: 0 auto;
}
